body {
  font-family: "Raleway", sans-serif;
  width: 1380px;
  font-size: 12px;
}

/* NAVBAR */
.logo {
  margin-bottom: 25px;
  width: 97px;
  height: 45px;
}

.nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_flex2 /* double balise flex - espace autour sans utiliser de marges */ {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

.nav_decoration a{
  text-decoration: none;
  color: #0065fc;
}

.nav_decoration a:hover{
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 33px;
}

.a_vanilla a:hover{
   border-top: none;
}
.a_vanilla{
   text-decoration: none;
   color: black;
}

.text_bold{
   font-weight: bold;
}
/* NAVBAR */

/* Premier TEXTE */
#accroche{
  margin-top: 35px;
}
/* Premier TEXTE */

/* Barre de recherche */
.map{
   width: 27px;
   height: 28px;
   margin-top: 25px;
   border-radius: 10px 0 0 10px;
   /* centrer un élément dans une <div> */
   display: flex;
   justify-content: center;
   align-items: center;
   /* centrer un élément dans une <div> */
   background-color: #f2f2f2;
}

.flex_3
{
   display: flex;
}

input {
  padding: 4px;
  margin-bottom: 35px;
  margin-top: 25px;
}

.search {
  cursor: pointer;
  border: none;
  padding: 6px;
  height: 28px;
  color: white;
  margin-top: 25px;
  border-radius: 0px 8px 8px 0px;
  background-color: #0065fc;
}
/* Barre de recherche */

.icons{
   background-color: #DEEBFF;
   color: #0065FC;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

/* Filtres */
.icons_prox {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

#filter{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 45%;
  width: 55%;
}

.border_filter {
   margin-top: 2.8px;
   text-align: center;
   background-color: white;
   border: 3px solid #f2f2f2;
   border-radius: 70px;
   padding-right: 12px;
 }
 
 .textfilter
 {
   padding-left: 12px;
 }
/* Filtres */

/* info */
#i_icon
{
   display: flex;
   align-items: center;
   margin-top: 2%;
}

#i_border{
   width: 20px;
   height: 20px;
   border-radius: 20px;
   border: 2px solid #f2f2f2;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   margin-right: 5px;
}
/* info */

/* Hotels */
section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h1 {
   padding: 12px;
 }

h3 {
   margin-right: 25px;
}

.hotel {
  width: 830px;
  height: 500px;
  padding: 12px;
  margin-top: 3%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.hotel_room {
  display: flex;
}

#hotel_room {
  margin-top: 12px;
}

section img {
  width: 236px;
  height: 116px;
  margin: 5px;
  align-items: center;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
}

figure {
  margin: 0.5em;
}

figcaption {
  width: 216px;
  margin: 5px;
  padding: 10px;
  margin-top: -20px;
  border: 5px solid white;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: 0 5px #c4c2c4;
  font-weight: bold;
}

#more {
  margin-left: 12px;
  font-weight: bold;
  border: none;
}
/* Hotels */

/* Populaires */
aside {
  margin-left: 65%;
  height: 520px;
  margin-top: -38%;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-top: 3px;
}

aside h1{
   text-align: left;
   padding: 12px;
 }

 #increase{
    margin-left: 50%;
 }

.resize {
  width: 130px;
  height: 120px;
  margin-top: auto;
  padding-right: 25px;
}

aside .conteneur {
  display: flex;
  height: 120px;
  margin-top: 1.3%;
  padding-left: 10%;
  
}

.conteneur{
   border: 3px solid #0065FC;

}
/* Populaires */

/* Activités */
.activity {
  margin-top: 5%;
  width: 100%;
}

.float {
  float: right;
  margin-right: 60%;
  margin-top: -34%;
}

.resize_2 {
  height: 390px;
}

.resize_3 {
  height: 220px;
}

.position {
  margin-left: 120%;
}

.float_2 {
  margin-top: -168%;
  margin-right: -85%;
}
/* Activités */

/* Pied de page */
footer {
  margin-top: 5%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  width: 100%;
}
/* Pied de page */

/* RESPONSIVE */
@media only screen and (min-width: 1200px) /* tablettes et ordinateurs */ {

}
@media only screen and (min-width: 322px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/

  body {
    margin: 0;
    font-size: 16px;
    text-align: left;
    width: 322px;
  }

  nav {
    flex-direction: column;
  }

  a {
    color: #0065fc;
    font-weight: bold;
  }

  a h1 {
    font-size: 20px;
    color: #0065fc;
  }

  a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) /* smartphone en mode portait */ {
}
