body
{
	font-family: 'Raleway', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 12px;
}

.logo
{
	width: 97px;
    height: 45px;
}

.nav_flex
{
	display: flex;
	margin-left: 60%;
	justify-content: space-between;
	margin-top: -2%;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 18px;
}

#accroche
{
	margin-top: 35px;
}

input

{
    padding: 4px;
    margin-bottom: 35px;
    align-items: center;
	margin-top: 25px;
}

.search
{
	cursor: pointer;
    border: none;
    padding: 6px;
    color: white;
    margin-top: -200px;
    margin-left: -5.2px;
    border-radius: 0px 8px 8px 0px;
    background-color: #0065FC;
}

#infos
{
	margin-top: 2%;
}

.filter
{
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
	margin-right: 60%;
}

.border_filter
{
	margin: 5px;
	cursor: pointer;
	padding: 12px;
	margin-top: 2.8px;
	text-align: center;
	background-color: white;
	border: 3px solid #F2F2F2;
	border-radius: 70px;;
}

.hotel
{
    width: 830px;
    height: 500px;
    padding: 12px;
    margin-top: 5%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

h4
{
	padding: 12px;
}

.hotel_room

{
	display: flex;
}

#hotel_room
{
	margin-top: 12px;
}

img
{
	width: 236px;
    height: 116px;
    margin: 5px;
    align-items: center;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

figure
{
    margin: 0.5em;
}

figcaption
{
    width: 216px;
    margin: 5px;
    padding: 10px;
    margin-top: -20px;
    border: 5px solid white;
    border-radius: 0 0 20px 20px;
    background-color: white;
    box-shadow: 0 5px #c4c2c4;
    font-weight: bold;
}

#more
{
	margin-left: 12px;
	font-weight: bold;
	border: none;
}

aside
{	
	margin-left: 70%;
	margin-top: -39.8%;
	padding-bottom: 23px;
	text-align: center;
	background-color: #F2F2F2;
    border-radius: 10px;
}

.resize
{
    width: 118px;
    height: 116px;
    margin: 5px;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
}

aside h3
{
	text-align: left;
	padding: 12px;
}

aside figcaption
{
    float: right;
    height: 96px;
    margin-top: 1.3%;
    margin-left: -15px;
    border-radius: 0 20px 20px 0;
}

.activity
{
	margin-top: 10%;
}

.float
{
	float: right;
	margin-right: 60%;
	margin-top: -34%;
}

.resize_2
{
	height: 390px;
}

.resize_3
{
	height: 220px;
}

.position
{
	margin-left: 120%;
}

.float_2
{
	margin-top: -168%;
	margin-right: -85%;
}

footer
{
	margin-top: 5%;
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-evenly;
	padding: 2%;
}




@media only screen and (min-width: 1200px) 
/* tablettes et ordinateurs */
{
	
}
@media only screen and (max-width: 767px) 
/* smartphone */
{
	
}

@media only screen and (max-width: 767px) and (orientation: portrait) 
/* smartphone en mode portait */
{
	
}