body {
  font-family: "Raleway", sans-serif;
  max-width: 1380px;
  font-size: 12px;
  margin: auto;
}

main {
   width: 98%;
   max-width: 1440px;
   margin: auto;
}

.navbar
{
   display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px; 
margin-top: 35px;
height: 55px;
}

.logo { 
grid-area: 1 / 1 / 2 / 2; 
height: 35px;
margin-left: 7px;
}

.link_content { 
grid-area: 1 / 3 / 2 / 6; 
display: flex;
justify-content: space-between;
margin-left: 375px;

}

a{
   text-decoration: none;
   color : initial;
}

.link_content a:hover{
   border-top: 2px solid #0065FC;
   padding-top: 29px;
}

.signin a{
   font-weight: bold;
   color: #0065FC;
}

.search h1 {
   font-weight: 700;
   font-size: 22px;
   margin-top: 0;
}

.subtitle, .result-subtitle {
   font-size: 12px;
   margin: 0.5rem 0 0 0;
}

.search-loupe {
   display: none;
}


form {
   display: flex;
   margin-left: 1rem;
   margin-top: 1.8rem;
}

#map {
   background-color: #F2F2F2;
   padding: 0.7rem 1rem;
   border-radius: 16px 0 0 16px;
}

.search-input {
   padding: 0.5rem;
   font-weight: 700;
   font-size: 15px;
   border: 2px #F2F2F2 solid;
}

.search-button {
   padding: 0 1.2rem;
   font-weight: 700;
   font-size: 15px;
   color: white;
   background-color: #0065FC;
   border-radius: 0 16px 16px 0;
   border: none;
}

.search-button:hover {
   transform: scale(1.1);
   transition: .5s ease-in-out;
   cursor: pointer;
   background-color: #F2F2F2;
   color: #0065FC;
}

#filter{
   margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 45%;
  width: 55%;
}

#filter_content{
   display: flex;
}

.filter_link{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2.8px;
   margin-left: 12px;
   text-align: center;
   background-color: white;
   border: 3px solid #f2f2f2;
   border-radius: 70px;
}

#filter i{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #deebff;
   color: #0065fc;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   
}

#filter a{
   padding-left: 12px;
   padding-right: 12px;
}

#i_icon {
   display: flex;
   align-items: center;
   margin-top: 2%;
 }
 
 #i_border {
   width: 20px;
   height: 20px;
   border-radius: 20px;
   border: 2px solid #f2f2f2;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065fc;
   margin-right: 5px;
 }

 #hotel img{
   width: 250px;
   height: 100px;
   background-size: 100% 100%;
   border-radius: 1rem 1rem 0 0;
 }

 .bloc_room, .bloc_room2{
    display: flex;
    justify-content: space-between;
 }