body {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  margin: auto;
}

.navbar
{
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 55px;
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
  padding: 0px 15px 0px 15px;
  margin-top: 25px;
  height: 55px;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;;
    height: 35px;
    display: inline-block;
}

.link_content {
  /* display: flex;
  float: right;
  grid-area: 1 / 3 / 2 / 6;
  display: flex;
  justify-content: space-between; */
  display: flex;
  float: right;
  margin-top: 12px;
}

.link_12{
   display: flex;
}

#first_text{
  padding: 0px 15px 0px 15px;
}

.activity{
   margin-left: 6rem;
}

.signin{
   margin-left: 6rem;
}

a{
   text-decoration: none;
   color : initial;
}

.link_content a:hover{
   border-top: 2px solid #0065FC;
   padding-top: 30px;
   color: #0065FC;
}

.signin a{
   font-weight: bold;
   color: #0065FC;
   margin-right: 100px;
}


.search-loupe {
   display: none;
}


form {
   display: flex;
   margin-left: 1rem;
   margin-top: 1.8rem;
}

#map {
   background-color: #F2F2F2;
   padding: 0.7rem 1rem;
   border-radius: 16px 0 0 16px;
}

.search-input {
   padding: 0.5rem;
   font-weight: 700;
   font-size: 15px;
   border: 2px #F2F2F2 solid;
}

.search-button {
   padding: 0 1.2rem;
   font-weight: 700;
   font-size: 15px;
   color: white;
   background-color: #0065FC;
   border-radius: 0 16px 16px 0;
   border: none;
}

.search-button:hover {
   transform: scale(1.1);
   transition: .5s ease-in-out;
   cursor: pointer;
   background-color: #F2F2F2;
   color: #0065FC;
}

#filter{
   margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 45%;
  width: 55%;
}

#filter_content{
   display: flex;
}

.filter_link{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2.8px;
   margin-left: 12px;
   text-align: center;
   background-color: white;
   border: 3px solid #f2f2f2;
   border-radius: 70px;
   box-shadow: 2px 2px 10px #F5F5F5;
}

.filter_link:hover {
   border: 1px solid #0065FC;
   box-shadow: 0 0 0.5rem #F5F5F5;
   cursor: pointer;
}

#filter i{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #deebff;
   color: #0065fc;
   width: 50px;
   height: 50px;
   border-radius: 50%;

}

#filter a{
   padding-left: 12px;
   padding-right: 12px;
}

#i_icon {
   display: flex;
   align-items: center;
   margin-top: 2%;
 }

 #i_border {
   width: 20px;
   height: 20px;
   border-radius: 20px;
   border: 2px solid #f2f2f2;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065fc;
   margin-right: 5px;
 }

 #hotel{
   background-color: #F2F2F2;
   border-radius: 1rem;
   padding: 20px;
   float: left;
   margin-top: 25px;
   margin-left: 15px;
 }

 .room:hover{
      cursor: pointer;
      transform: scale(1.03);
      transition: ease 0.4s;
 }

 #hotel img{
   width: 100%;
   height: 150px;
   border-radius: 1rem 1rem 0 0;
   object-fit: cover;

 }

 .bloc_room{
    display: grid;
    grid-column-gap: 27px;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
 }

.description{
   background-color: white;
   padding: 12px;
    border-radius: 0 0 1rem 1rem;
    margin-top: -3px;
    box-shadow: 3px 3px 10px lightgrey;
}

.description h3{
   margin-top: 0;
}

#more{
   font-weight: bold;
   font-size: 17px;
}

aside{
   background-color: #F2F2F2;
   border-radius: 1rem;
   margin-top: 25px;
   padding: 20px;
   float: left;
   margin-left: 2%;
   margin-right: 2%;
}

aside img{
    height: 132px;
    width: 140px;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    float: left;
    margin-right: 12px;
   border: 5px solid white;
   box-shadow: -3px 3px 10px lightgrey;
}

aside h3{
   margin: auto;
   padding-top: 12px;
}

aside .stars:not(.stars_marge){
   padding-top: 45px;
}

.stars{
   color: #0065fc;
}

.stars_none{
   color: #f2f2f2;
}

.stars_marge{
   padding-top: 30px;
}

#increase{
   margin-top: 17px;
   font-size: 1.2rem;
}

#bloc_populaire{
   margin-top: 25px;
}

#top_content{
   display: flex;
   justify-content: space-between;
}

.conteneur_2, .conteneur_3{
   padding-top: 20px;
}

.conteneur:hover, .conteneur_2:hover, .conteneur_3:hover{
   transform: scale(1.03);
   transition: ease 0.4s;
}

.descr_size{
   background-color: white;
   padding: 5px;
   margin-left: 25px;
   border-radius: 0 1rem 1rem 0;
   height: 132px;
   width: 65%;
   margin-left: 30%;
   box-shadow: 3px 3px 10px lightgrey;
}

#anchor_activity{
   margin-left: 40px;
}

#bloc_activity img{
border-radius: 1rem 1rem 0 0;
}

#bloc_activity p{
   font-weight: bold;
}

.content_ac1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    float: left;
    width: 49%;
    height: 25px;
    margin-left: 30px;
}

.content_ac2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    height: 600px;
    margin-left: 5px;
}

.img_1, .img_4{
    width: 350px;
    height: 440px;
    object-fit: cover;
}

.img_2, .img_3, .img_5, .img_6{
   width: 280px;
   height: 184px;
    margin: 0;
    margin-left: 25px;
    object-fit: cover;
}

.img_1 + p, .img_4 + p {
   font-size: 14px;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 1.25rem 0 1.25rem 5%;
    margin: auto;
    margin-top: -3px;
    box-shadow: -1px 1px 4px 4px #0000002e;
   }

   .img_2 + p, .img_3 + p, .img_5 + p, .img_6 + p{
      margin-left: 25px;
      font-size: 14px;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 1.25rem 0 1.25rem 5%;
    margin-top: -3px;
    box-shadow: -1px 1px 4px 4px #0000002e;
   }

.footercontent{
   display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: #F2F2F2;
height: 160px;
padding-left: 70px;
}

.footercontent a:hover {
   text-decoration-line: underline;
}

#about{
   width: 100%;
}

#home{
   margin-left: 250px;
   width: 100%;
}

#assist{
 margin-left: 350px;
 width: 67%;
}

/****************************** Media Query PC ****************************************/
@media only screen and (min-width: 960px) {
    aside {
        width: 28%;
        height: 634px;
    }

    #hotel {
        width: 60%;
    }

    .bloc_room{
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(1, auto);
    }
}

/****************************** Media Query Mobile ****************************************/
@media only screen and (max-width: 480px) {
     body {
        font-size: 12px;
        margin: auto;
     }

    .navbar{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 25px;
        height: 55px;
    }

    .bloc_room{
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(6, auto);
    }

    .logo{
       /* grid-area: 1 / 1 / 2 / 2; */
       display: inline-block;
    }
    .signin{
       grid-area: 1 / 4 / 2 / 5;
    }

    .home{
       grid-area: 2 / 1 / 3 / 3;
    }

    aside {
        width: 100%;
        height: auto;
    }

    #hotel {
        width: 100%;
    }

    .activity{
       grid-area: 2 / 3 / 3 / 5;
    }

    .search-loupe
    {
       display: block;
       background-color: #0065FC;
       color: white;
       font-weight: bold;
       border: 3px #0065FC solid;
       border-radius: 1rem;
       margin-left: -1.5rem;
       padding: 0 1rem;
    }

    .search-button{
       display: none;
    }

}
